/*image and logo styling*/
.main_logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.main_para {
  font-size: 18px;
  font-weight: 700;
}
.image_box {
  border-radius: 5px;
  background-color: rgba(34, 137, 221, 0.123);
}
.main_image {
  width: 70%;
  mix-blend-mode: multiply;
}

/*Login section styling*/
.form_msg {
  font-size: 14px;
}

.hyper_links {
  color: #808080;
  text-decoration: none;
}
.btn-secondary {
  width: 100%;
}
.login_header {
  text-decoration: none;
  font-weight: 600;
    margin-left: 80%;
  color: #d2691e;
}

/*footer styling*/
.footer {
  color: #000;
  background-color: #f5f5f5;
}
.link_head {
  color: #000;
}

.links {
    color: #808080;
    text-decoration: none;
    font-weight: 600;
  }
  .footer_form{
      background-color: #808080a1!important ;
  }
  .btn-outline-primary{
      padding:20%;
      background-color: #28d;
  }
  .copyright_text {
    color: #808080;
  }
  

/*font-awesome icon*/
.fa-image {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #8080804d;
  text-align: center;
  color: #808080;
}

